tibco.bwce.ShoppingCart.module/Schemas/flogoGetProductResponseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1539683788503" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1539683788503">
  <complexType name="flogoGetProductResponseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="product_id" type="integer"/>
      <element maxOccurs="1" minOccurs="0" name="unit_price" type="decimal"/>
    </sequence>
  </complexType>
  <element name="flogoGetProductResponseElement" type="tns:flogoGetProductResponseElementType"/>
</schema>
